.projects_tile {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid #000000; */
}

.top_container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 8vh;
    width: 100%;
}

.bottom_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000000; */
}

.vertical_seperator {
    width: 1px;
    height: 20px;
    background-color: #6C6C6C;
    margin: 0 10px;
}

.project_name {
    font-size: medium;

}

.projects_image {
    width: 100%;
    /* border: 1px solid #000000; */
}

