@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
	box-sizing: border-box;
}

.navbar {
	background: #43c0f6;
	border: 1px solid #41baef;
	box-shadow: 0px 3px 6px #00000029;
	display: flex;
	gap: 5rem;
	height: 64px;
	justify-content: space-evenly;
	left: 0px;
	margin: 0px;
	top: 0px;
	width: 100%;
}

.levelUpLogo {
	/* color: white;  */
	align-items: center;
	display: flex;
	justify-content: center;
}

.navButtons {
	align-items: center;
	background-color: #43c0f6;
	display: flex;
	justify-content: center;
	margin-top: 1.5%;
}

.navButtons button {
	background: transparent;
	border: none;
	color: #ffffff;
	flex-basis: 10%;
	font: 600 16px "Open Sans", sans-serif;
	justify-content: center;
	letter-spacing: 0.5px;
	padding: 40px;
}

.navLogin {
	/* align-items: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
}

.flags {
	display: flex;
	font: bold 16px "Open Sans", sans-serif;
	justify-content: center;
	margin-right: 14px;
}

.flags > p1 {
	color: white;
	font-size: 10px;
	padding-right: 5px;
	text-decoration: none;
}

.flags > img {
	padding-left: 5px;
}

.login {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 15px;
}

.login > img {
	height: 24px;
	width: 24px;
}

.login > button {
	background: transparent;
	border: none;
	color: white;
	font: bold 14px "Open Sans", sans-serif;
	height: 22px;
	width: 148px;
}
