@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@media screen and (min-width: 425px) {
	.navbar {
		display: flex;
		width: 100vw;
		justify-content: space-evenly;
		background: #43c0f6;
		padding-bottom: 0.2rem;
	}

	.logo-outer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.levelUpLogo {
		max-width: 20rem;
		max-height: 3.6rem;
	}
}

@media screen and (max-width: 425px) {
	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		max-height: 2.3rem;
		background: #43c0f6;
	}

	.logo-outer-container {
		display: flex;
		flex-direction: column;
		flex: 30%;
	}

	.levelUpLogo {
		display: flex;
		flex-direction: column;
		width: 7.5rem;
	}
}
